node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
*.swp
*.swo
.vscode
.idea
coverage
.dist
.next
.vercel
dist
.env*
**/node_modules
**/.turbo
**/.cache
**/coverage
**/.next
**/dist
**/build
**/*.log


